.jumbotron{
    background-color: white;
}

hr{
    color: black !important;
}

.form-control{
    width: 846px;
    margin-left: 0px;
    border: none;
}

.input-background{
    background-color: rgb(0, 187, 0) !important;
    border: none;
}

img, .locked{
    background-color: rgb(7, 156, 255);
}

.past-time{
    background-color: rgb(155, 155, 155) !important;
    border: none
}

.current-time{
    background-color: rgb(255, 0, 0) !important;
}

p{
font-size: 20px;
}
